<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#"><img src="/images/logo.png" width="50%" height="50%" alt="" /></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/landing"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/doctorStatus"><strong>Profile</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    

        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/bgg.png" alt="sign up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Dashboard</h2>
                        <form action="/auth/doctor" method="POST" class="register-form" id="login-form"  enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="userid"></label>
                                <input type="text" name="userid" id="userid" readonly />
                                <script>
                                    document.getElementById("userid").value = localStorage.getItem("idvalue")
                                </script>
                            </div>

                            <div class="form-group">
                                <label for="name"></label>
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                           
                            <div class="form-group">
                                <label for="address"></label>
                                <input type="text" name="address" id="address" placeholder="Address" />
                            </div>

                            <div class="form-group">
                                <label for="phone"></label>
                                <input type="tel" pattern="[0-9]{10}" name="phone" id="phone"
                                    placeholder="Phone number" />
                            </div>

                            <div class="form-group">
                                <label for="experience"></i></label>
                                <input type="text" name="experience" id="experience" placeholder="Experience" />
                            </div>

                            <div class="form-group">
                                <label for="age"></i></label>
                                <input type="number" name="age" id="age" placeholder="Age" />
                            </div>

                            <div class="form-group">
                                <label for="qualification"></i></label>
                                <input type="text" name="qualification" id="qualification" placeholder="Qualifications" />
                            </div>

                            <div class="form-group">
                                <label for="hospital"></i></label>
                                <input type="text" name="hospital" id="hospital" placeholder="Hospital name" />
                            </div>
                            
                            <div class="form-group">
                                <label for="gender"></i></label>
                                <select type="gender" name="gender" id="gender" class="browser-default custom-select">
                                    <option value="" disabled selected>Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="specialization"></i></label>
                                <select type="text" name="specialization" id="specialization"
                                    class="browser-default custom-select">
                                    <option value="" disabled selected>Specialization</option>
                                    <option value="Rheumatology">Rheumatology</option>
                                    <option value="Ophthalmology">Ophthalmology</option>
                                    <option value="Cardiology">Cardiology</option>
                                    <option value="Gastroenterology">Gastroenterology</option>
                                    <option value="Nephrology">Nephrology</option>
                                    <option value="Hepatology">Hepatology</option>
                                    <option value="Pulmonology">Pulmonology</option>
                                    <option value="Otolaryngology">Otolaryngology</option>
                                    <option value="Dermatology">Dermatology</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <p>Upload profile image</p>
                                <input type="file"  name="profileimg" id="profileimg" placeholder="Profile image" />                            
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="Update" id="signin" class="form-submit" value="Update" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
</body>

</html>