<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#"><img src="/images/logo.png" width="50%" height="50%" alt="" /></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/landing"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/hospitalStatus"><strong>Dashboard</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="main">

        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/bgg.png" alt="sign up image"></figure>
                        <P></P>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Profile</h2>

                        <form action="/auth/hospital" method="POST" class="register-form" id="login-form">
                         <div class="form-group">
                                <label for="userid"></label>

                                <input type="text" name="userid" id="userid" readonly />
                                <script>
                                    document.getElementById("userid").value = localStorage.getItem("idvalue")
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="name"></label>
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            
                            <div class="form-group">
                                <label for="address"></label>
                                <input type="text" name="address" id="address" placeholder="Address" />
                            </div>
                            <div class="form-group">
                                <label for="phone"></label>
                                <input type="tel" pattern="[0-9]{10}" name="phone" id="phone"
                                    placeholder="Phone number" />
                            </div>
                            <div class="form-group">
                                <label for="licenseNumber"></i></label>
                                <input type="text" name="licenseNumber" id="licenseNumber"
                                    placeholder="License number" />
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="Update" id="signin" class="form-submit" value="Update" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
</body>

</html>