<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <style>
        div {
            background-image: url('/public/images/bg.png');
        }
    </style>
    <script>
        function passvalue() {
            var uid = document.getElementById("userid").value;
            localStorage.setItem("idvalue", uid);
            return false;
        }
    </script>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#"><img src="/images/logo.png" width="50%" height="50%" alt="" /></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/landing"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register"><strong>Sign up</strong></a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/bgg.png" alt="sign up image"></figure>
                        <a href="/register" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">

                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" action="/auth/login" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="userid"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="userid" id="userid" placeholder="User ID" />
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" />
                            </div>
                            {{#if message}}
                            <h6 class="aler alert-danger mt-4">{{message}}</h6>
                            {{/if}}

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" onClick="passvalue()"
                                    value="Log in" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>



    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>


</body>

</html>